@import "../sass/variables";

.homeSection {
	display: flex;
	flex-direction: column;

	.titleStyle {
		font-size: 40px;
		letter-spacing: 1px;
		line-height: 1;
		font-weight: 200;

		.titleMuted {
			color: $primary-color;
			font-weight: 400;
			font-size: 30px;
			padding-left: 10px;
		}
	}

	figure {
		width: 100%;
		padding: 10px;
		max-height: 200px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	article p {
		font-size: 1rem;
		line-height: 1.5;
		margin-top: 1em;
	}

	@media only screen and (min-width: 600px) {
		flex-direction: row;

		.titleStyle {
			font-size: 50px;

			.titleMuted {
				font-size: 46px;
			}
		}

		figure {
			max-height: 280px;
		}

		article p {
			font-size: 1.25rem;
		}
	}
}
