@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

@import "./sass/variables";
@import "./sass/buttons";
@import "./sass/carouselExtra";

:root {
	--font-color: #f8f9fa;
	--bg-color: #3a404b;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
}

.container {
	width: clamp(360px, 100%, 980px);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.mainTitle {
	text-align: center;
	font-weight: 400;
}

// menu animations
.rotate-first {
	transform: rotate(45deg) translate(6px, 6px);
}

.rotate-second {
	transform: scale(0);
}

.rotate-third {
	transform: rotate(-45deg) translate(6px, -6px);
}

.swiper-button-prev,
.swiper-button-next {
	color: $primary-color;
	width: calc(44px / 38 * 29);
	height: 60px;
	transition: color 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: $bg-color;
}

figcaption {
	transition: transform 0.45s ease-out;
}

figcaption h2,
figcaption p {
	transition: opacity 1.2s ease-in-out;
	margin-bottom: 10px;
	opacity: 0;
	font-weight: 200;
}

.swiper-slide-active figcaption {
	transform: translate3d(0, 1%, 0) !important;
}

.swiper-slide-active h2,
.swiper-slide-active p {
	opacity: 1;
}
