@import "./sass/variables";
@import "./sass/buttons";

:root {
	--font-color: #f8f9fa;
	--bg-color: #3a404b;
}
@font-face {
	font-family: "Poppins", sans-serif;
	src: url("./assets/fonts/Poppins-Regular.ttf") format("ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
}

.container {
	width: clamp(360px, 100%, 980px);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

// menu animations
.rotate-first {
	transform: rotate(45deg) translate(6px, 6px);
}

.rotate-second {
	transform: scale(0);
}

.rotate-third {
	transform: rotate(-45deg) translate(6px, -6px);
}
