.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;

	img {
		max-width: 75px;
		box-shadow: -1px 2px 3px -2px #ffffff54;
	}

	.logIn {
		display: none;
		justify-content: space-between;
		width: 175px;
	}

	.navToggler {
		height: 42px;
		background-color: transparent;
		width: 42px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border: none;
		cursor: pointer;
		padding: 5px;
		transition: background-color 180ms ease-in-out;
		position: relative;
		z-index: 10;

		&:hover {
			background-color: rgba(128, 128, 128, 0.158);
		}

		span {
			background-color: white;
			height: 3px;
			width: 100%;
			display: block;
			transition: all 150ms ease-in-out;
		}
	}

	@media only screen and (min-width: 600px) {
		.logIn {
			display: flex;
		}
		.navToggler {
			display: none;
		}
	}
}
